.header {
  padding: 92px 24px 96px 24px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  font-size: 18px;
  align-content: center;
}

.header_menu {
  align-self: center;
  justify-self: center;
  padding-right: 3px;
  padding-top: 3px;
}

.header_links-list {
  text-decoration: none;
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header_link_active {
  text-decoration: none;
}

.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-right: 5px;
}

.header_text {
  line-height: 140%;
}

.address {
  font-weight: 400;
  font-size: 18px;
  justify-self: end;
  align-self: center;
  text-underline-offset: 4px;
  line-height: 140%;
  padding-top: 5px;
  padding-right: 62px;
}

.header_address {
  justify-self: end;
  align-self: center;
  text-underline-offset: 4px;
  line-height: 140%;
}

.header_logo {
  max-height: 105px;
  display: block;
  width: 148px;
  height: 100%;
  margin: auto;
  justify-items: center;
}

.cover {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  min-height: 100%;
}

.cover__title {
  font-family: Raleway, sans-serif;
  display: block;
  position: relative;
  z-index: 1;
  padding: 165px 50px 0px;
  margin-bottom: 125px;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  text-align: left;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 100%;
  padding: 20px 0px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 100%;
  padding-bottom: 10px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  font-family: Raleway, sans-serif;
  display: flex;
  position: relative;
  z-index: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
}

.cover__description-text {
  display: block;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18.5px;
  padding-top: 13px;
  padding-left: 78px;
  margin-right: 80px;
}

.bet-button {
  font-family: Raleway, sans-serif;
  display: flex;
  padding: 12px 32px 11px 31px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  margin-bottom: 51px;
}

.lots {
  margin-bottom: 146px;
  padding-top: 179px;
}

.lots__heading {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 27px;
  text-transform: uppercase;
  padding-left: 64px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px 0;
  margin-bottom: 30px;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.card__title {
  font-family: Raleway, sans-serif;
  position: relative;
  z-index: 2;
  padding: 51px 40px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
  color: white;
}

.card__text {
  display: flex;
  position: relative;
  z-index: 2;
  padding: 0 40px 48px;
  margin-top: auto;
  justify-self: flex-end;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: white;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-left: 65px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  margin: 141px 0px 182px 0px; /* По макету нижний 180px, но при таких значениях верстка плывет */
  padding: 35px 24px 0px 20px;
  gap: 20px;
  grid-template-columns: 344px auto;
  font-family: Raleway, sans-serif;
}

.about_logo {
  background-color: black;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_logo-image {
  height: 114px;
  width: 148px;
  align-self: center;
}

.about_column-left {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about_column-right {
  display: flex;
  width: 100%;
  gap: 23px;  /* По макету 24px, но тут тоже при таких значениях верстка плывет */
  flex-direction: column;
  justify-content: start;
}

.about_title {
  display: flex;
  padding: 100px 0px 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about_text {
  grid-column-start: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 119%;
}

.footer {
  padding: 0px 50px 88px 51px;
  display: flex;
  justify-content: space-between;
}

.footer_links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: end;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.footer_link_active {
  text-decoration: none;
}

.footer__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-right: 5px;
}

.footer_social-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 48px;
  justify-content: space-between;
  list-style: none;
}

.footer_social-icon {
  height: 48px;
  width: 48px;
}

.footer_contact {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.address_footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.footer_text {
  text-decoration: none;
}
